body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

footer {
  margin-top: auto; /* Empuja el footer hacia el final */
}

footer div {
  display: inline-block;
  margin-left: 25px;
  margin-top: 10px;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  height: 120px; 
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s;
}

nav ul {
  display: flex;
  justify-content: flex-end; 
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  nav ul.showing {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
  }
}

section#alta-producto {
  max-width: 600px;
  max-height: 80px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #555;
}

footer svg:hover {
  transform: scale(1.3);
}
